<h1>Home</h1>
<p>Please, enter your comma-separated ingredients </p>

<%= form_with url: search_path, method: :get, local: true do |f| %>
  <%= f.text_field :query, placeholder: "brown sugar, milk, banana" %>
  <%= f.submit "Search" %>
<% end %>
